<%= form_with(model: bicycle_review, local: true) do |form| %>
  <% if bicycle_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bicycle_review.errors.count, "error") %> prohibited this bicycle_review from being saved:</h2>

      <ul>
        <% bicycle_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :review_text %>
    <%= form.text_area :review_text %>
  </div>

  <div class="field">
    <%= form.label :bicycle_id %>
    <%= form.text_field :bicycle_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :star %>
    <%= form.number_field :star %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
