<p id="notice"><%= notice %></p>

<p>
  <strong>Review text:</strong>
  <%= @bicycle_review.review_text %>
</p>

<p>
  <strong>Bicycle:</strong>
  <%= @bicycle_review.bicycle_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bicycle_review.user_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @bicycle_review.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @bicycle_review.end %>
</p>

<p>
  <strong>Star:</strong>
  <%= @bicycle_review.star %>
</p>

<%= link_to 'Edit', edit_bicycle_review_path(@bicycle_review) %> |
<%= link_to 'Back', bicycle_reviews_path %>
